<!-- Tag html <html>
    Na tag <head> irá as configurações do meu documento.
    Na tag <body> irá todo o meu conteúdo visível na página -->
<!-- HTML
    Lingaugem de marcação de Hipertexto
-->
<!DOCTYPE html>
<html lang="pt_br"><!-- lang é um atibuto -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- alt + z = ajusta a página para a tela do vscode -->
    
    <title>Profy | Sua plataforma de estudos online</title>
    
   
     <link rel="stylesheet" href="/styles/main.css"><!-- Link do CSS -->
     <link rel="stylesheet" href="/styles/partials/header.css">
     <link rel="stylesheet" href="/styles/partials/forms.css">
     <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
     <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

     <script src="/scripts/addField.js" defer></script>
</head>
<body id="page-give-classes">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/">
                    <img src="/images/icons/back.svg" alt="Voltar">
                </a>
                <img src="/images/logo.svg" alt="Proffy">
            </div>
            <dov class="header-content">
                <strong>Que incrível que você pode dar aulas</strong><!-- tag com negrito -->
                <p>O primeiro passo, é preencher esse formulário de inscrição</p>
            </dov>
        </header>

        <main><!-- tag para o conteúdo principal da página -->
            <form action="/save-classes" id="create-class" method="POST">
                <fieldset>
                    <legend>Seus dados</legend>
                    
                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <input name="name" id="name" required><!-- required informa que o campo é obrigatório para preenchimento -->
                    </div>
                        <div class="input-block">
                            <label for="avatar" id="avatar">Link da sua foto <small>(comece com https://)</small></label><!-- a tag small deixa os textos em tamanho menor -->
                            <input name="avatar" id="avatar" type="url" required>
                         </div>
                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input name="whatsapp" id="whatsapp" type="number" required>
                    </div>
                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea name="bio" id="bio" required></textarea><!-- textarea cria um bloco de texto -->
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Sobre a aula</legend>
                    <div class="select-block">
                        <label for="subject"> Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="">Selecione uma opção</option>
                            {%for subject in subjects %}
                                <option value="{{loop.index}}">
                                    {{subject}}
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="cost"> Custo da sua hora/aula
                            <small>(R$)</small>
                        </label>
                        <input name="cost" type="cost" id="cost" type="number" required>
                    </div>
                </fieldset>
                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horário</button>
                    </legend>
                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="weekday">Dia da semana</label>
                            <select name="weekday[]" required>
                                <option value="">Selecione uma opção</option>
                                {%for weekday in weekdays %}
                                    <option value="{{loop.index0}}">
                                        {{weekday}}
                                    </option>
                                 {%endfor%}
                            </select><!-- as chaves dentro do name são para agrupar valores do backend -->
                        </div>
                        <div class="input-block">
                            <label for="time_from">Das</label>
                            <input type="time" name="time_from[]" required>
                        </div>
                        <div class="input-block">
                            <label for="time_to">Até</label>
                            <input type="time" name="time_to[]" required>
                        </div>
                    </div>
                    
                </fieldset>
            </form>
            <footer>
                <p>
                    <img src="/images/icons/warning.svg" alt="Aviso importante">
                    Importante!<br>
                    Preencha todos os dados
                </p>
                <button type="submit" form="create-class">Salvar Cadastro</button>
            </footer>
        </main>
    </div>

</body>
</html>
